spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/car
    username: root
    password: root
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379

#spring actuator
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: 'health, prometheus'